*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header {
background-color: #5741d9;
width: 100%;
height: 90px;
color: white;

}
#large{
  font-size: 25px;
  font-weight: bold;
}
.header ul{
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: left ;
  align-items: center;
  /* border: 2px solid red; */
  /* margin: 0 auto; */
  color: white;
}
.header ul li{
  padding: 10px;
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
  /* height: 10?0%; */
}

.header ul li a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 15px;
  /* height: 100%; */
}
.header ul li a:hover{
  background-color: white;
  color: black;
}

.search {
  position:absolute;
  right:0;
  color:white;
}
.search input{
  background-color: white;
}

::placeholder{
    color:white;
}

.container input{
  border:2px solid white;
  background-color: #5741d9;
  border-radius:22px;
  width : 18%;
  align-items: center;
  justify-content: center;
  padding:3px 17px;
  /* margin:34px;   */
  /* padding-left: 25px; */
}
.search{
  position: absolute;
  right:0;
}

.social a:hover{
background-color: salmon;
padding: 5px ;
border-radius: 10px;
}

.feat{
  font-size: 25px;
  font-weight: bold;
  /* margin-bottom: 20px; */
  color:rgb(154, 154, 160);
  
}
.features{
  margin-right: 60px;
}
.top-footer{
display: flex;
padding-bottom: 50px;
padding-left: 220px;
font-size: 15px;
color: rgb(234, 231, 248);
font-weight: bold;
}

.top-footer ul{
margin-top: 15px;
}
.top-footer ul li{
padding:4px;
list-style:none;

}
.features ul li a{
color:aliceblue;
text-decoration: none;
transition: .3s;
}
.features ul li a:hover{
color:  lightgray;
font-size: 17px;
}
footer{
  text-align: left;
  padding: 30px;
  background-color: #5741d9;
  color: white;
  padding-left: 120px;
  position: absolute;
  bottom:0;
  margin: auto;
  width:100%;

}
.footer{
  display: flex;
}
.footer h2{
  margin-right: 80px;
}
.footer a{
  padding:20px;
  font-size: 32px;
  color:azure
}
.policy{
  padding-left: 60px;
  font-size: 12px;
}

.policy a{
  padding-left: 20px;
  font-size: 13px;
  color: rgb(234, 231, 248);
}

.cookies a{
  padding-left: 40px;
  font-size: 12px;
  color:rgb(234, 231, 248);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.contain{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.contain .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.contain .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.title1{
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 1;
  height: 30px;
  width: 30px;
  background: linear-gradient( #388cc4, #832da5);
  color: #fff;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  transform: rotate(45deg);
}
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

form .signin-link{
  color: #262626;
  margin-top: 20px;
  text-align: center;
}  
.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color: #321e8a;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background: #321e8a;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 35px;
   margin: 30px 0
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(-135deg, #388cc4, #832da5);
   
 }
 form .button input:hover{  
    background: linear-gradient(135deg, #eb4d4d, #321e8a);
  }

 @media(max-width: 584px){
 .contain{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .contain .content .category{
    flex-direction: column;
  }
}